<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>PortalApp</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <portal-app></portal-app>
<script type="text/javascript" src="/dist/dist/app.bundle.js"></script><script type="text/javascript" src="/dist/dist/polyfills.bundle.js"></script></body>
</html>
