<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="WorkingDirectory" value="C:\Development\Working" />
    <add key="DownloadDirectory" value="C:\Development\Output" />
    <add key="GitLocation" value="C:\'Program Files'\Git\bin\git.exe" />
    <add key="PowerShellDirectory" value="Scripts" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>