.wizard-card {
    .wizard-header {
        .step-tab-container {
            border-bottom: 1px solid #808080;
            font-size: 1.25rem;

            .nav-item {
                padding: 1rem 0rem;
                font-weight: 500;

                &.active {
                    border-bottom: 4px solid #1976D2;
                }

                &:hover{
                    cursor: pointer;
                    background-color: #808080;
                }
            }
        }
    }

    .wizard-content {
        padding-top: 1.25rem;
    }

    .wizard-footer {
        padding-top: 1.25rem;
        border-top: 1px solid #808080;

        button{
            margin: 3px;
            border-radius: 0;
        }
    }
}
