<div class="wizard-card">
    <div class="wizard-header">
        <ul class="nav nav-justified step-tab-container">
            <li class="nav-item active" *ngFor="let step of steps" [ngClass]="{active: step.isActive}" (click)="goToStep(step)">
                <a >{{step.title}}</a>
            </li>
        </ul>
    </div>
    <div class="wizard-content">
        <ng-content></ng-content>  
    </div>
    <div class="wizard-footer">
        <button class="btn btn-secondary" type="button" (click)="prev()" [hidden]="!activeStep.showPrev">Prev</button>
        <button class="btn btn-secondary" type="button" (click)="next()" [hidden]="!activeStep.showNext">Next</button>
        <button class="btn btn-secondary" type="button" (click)="complete()" [hidden]="hasNextStep">Create</button>
    </div>
</div>
