<div>
    <h2>Step 2: Set GitLab project and group</h2>
    <span>Set name for GitLab project</span>
    <hr/>
    <form>
        <div class="row">
            <div class="form-group col-md-4">
                <label>GitLab Group</label>
                <input class="form-control" name="GroupName" type="text"
                       ng-model="vm.model.gitlabGroupName" />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-7">
                <label>GitLab Project Name</label>
                <input class="form-control" name="ProjectName" type="text"
                       ng-model="vm.model.gitlabProjectName"
                       placeholder="E.g. VetSugery" />
                <span class="help-block">The name should not contain spaces or special characters.</span>
            </div>
        </div>
    </form>
    <dp-wizard-footer>
        <a ui-sref="solutioncreator.visualstudio" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i> Back
        </a>
        <a ng-click="vm.moveToNextStep()" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-right"></i> Next: TeamCity
        </a>
    </dp-wizard-footer>
</div>