<div>
    <h2>Step 1: Set Visual Studio Solution Details</h2>
    <span>Set visual studio solution name, project type and name</span>
    <hr />
    <form>
        <div class="form-group">
            <label>Solution Name</label>
            <input class="form-control" name="SolutionName" type="text" ng-model="vm.model.solutionName" placeholder="Solution Name" />
        </div>
        <div class="form-group">
            <label>Project Name</label>
            <input class="form-control" name="Project" type="text" ng-model="vm.model.projectName" placeholder="Project name" />
        </div>
        <div class="form-group">
            <label>Build Configuration Template</label>
            <input class="form-control" name="BuildTemplate" type="text" ng-model="vm.model.buildTemplate" placeholder="Build Template" />
        </div>
    </form>
    <dp-wizard-footer>
        <a ui-sref="solutioncreator.gitlab" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-right"></i> Next: GitLab
        </a>
    </dp-wizard-footer>
</div>