<div>
    <h2>Step 3: Set Teamcity project and build</h2>
    <span>Set name for teamcity build</span>
    <hr/>
    <form>
        <div class="form-group">
            <label>Parent Project Name</label>
            <div class="btn-group">
                <label class="btn btn-primary btn-sm" ng-model="vm.newParent" uib-btn-radio="'existing'">Use existing</label>
                <label class="btn btn-primary btn-sm" ng-model="vm.newParent" uib-btn-radio="'new'">Create New</label>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-5" ng-show="vm.newParent === 'existing'">
               <ui-select theme="bootstrap" ng-model="vm.model.teamCityParentProjectId">
                    <ui-select-match placeholder="Select a project">
                        <span ng-bind="$select.selected.Name"></span>
                    </ui-select-match>
                    <ui-select-choices repeat="project in (vm.projects | filter: $select.search) track by project.Id">
                        <span ng-bind="project.Name"></span>
                    </ui-select-choices>
                </ui-select>
                <span class="help-block">The name should not contain spaces or special characters.</span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-5" ng-show="vm.newParent === 'new'">
                <input class="form-control" name="Subproject" type="text"
                       ng-model="vm.model.teamCityNewParentProjectName"
                       placeholder="Subproject name" />
                <span class="help-block">The name should not contain spaces or special characters.</span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-7">
                <label>Subproject Name</label>
                <input class="form-control" name="Subproject" type="text"
                       ng-model="vm.model.teamCitySubprojectName"
                       placeholder="Subproject name"/>
                <span class="help-block">The name should not contain spaces or special characters.</span>
            </div> 
        </div>
        <div class="row">
            <div class="form-group col-md-7">
                <label>Subproject Name</label>
                <input class="form-control" name="SubprojectDescription" type="text"
                       ng-model="vm.model.teamCitySubprojectDescription"
                       placeholder="Subproject description" />
                <span class="help-block">This will be used as the description of the TeamCity Subproject.</span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-5">
                <label>Build Configuration Template</label>
                <ui-select theme="bootstrap" ng-model="vm.model.teamcityBuildTemplateId">
                    <ui-select-match placeholder="Select a project">
                        <span ng-bind="$select.selected.Name"></span>
                    </ui-select-match>
                    <ui-select-choices repeat="template in (vm.buildTemplates | filter: $select.search) track by template.Id">
                        <span ng-bind="template.Name"></span>
                    </ui-select-choices>
                </ui-select>
                <span class="help-block">The name should not contain spaces or special characters.</span>
            </div>
        </div>
    </form>
    <dp-wizard-footer >
        <a ui-sref="solutioncreator.gitlab" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i> Back
        </a>
        <a ng-click="vm.moveToNextStep()" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-right"></i> Next: Octopus
        </a>
    </dp-wizard-footer>
</div>