@model IEnumerable<DevOps.Portal.Domain.Teamcity.Project>

@{
    ViewBag.Title = "Solution Builder";
}

<h2>@ViewBag.Title</h2>

<div>
    <ul>
        @foreach (var proj in Model)
        {
            <li>@proj.Name</li>
        }
    </ul>
    @Html.ActionLink("Create", "Create", null, new {@class = "btn btn-primary"})
</div>
