// fonts
$font-stack-primary: az_ea_font,wf_segoe-ui_normal,"Segoe UI","Segoe WP",Tahoma,Arial,sans-serif;

.body-content{
    padding: 0;
}

@import "../modules/_all.scss";

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: $color-dark-grey;
    font-family: $font-stack-primary;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}


.navbar-brand {

    & > img {
        height: 100%;
        display: inline-block;
        color: $color-light-blue;
    }
}

.navbar.portal-navbar {
    .navbar-brand {
        color: $color-light-blue;
    }
}

input.form-control {
    background-color: $color-white;
}