<form [formGroup]="visualStudioForm" class="form-container">
    <mat-form-field>
      <input matInput placeholder="Enter solution name" formControlName="solutionName" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Enter project name" formControlName="projectName" required>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Select a template" formControlName="templateId" required>
        <mat-option *ngFor="let template of templates| async" [value]="template.id">
          {{template.description}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div>
      <button mat-button matStepperNext type="button">Next</button>
    </div>
</form>
