.body-content {
  padding: 0; }

body {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #444;
  font-family: az_ea_font, wf_segoe-ui_normal, "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif; }

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal; }

.navbar-brand > img {
  height: 100%;
  display: inline-block;
  color: #28cfed; }

.navbar.portal-navbar .navbar-brand {
  color: #28cfed; }

input.form-control {
  background-color: #eee; }

.dp-menu-area {
  background-color: #222;
  width: 200px;
  min-height: 100vh;
  padding-top: 30px;
  padding-left: 0;
  position: relative;
  color: #eee;
  border-right: 1px solid #101010; }
  .dp-menu-area .dp-menu {
    list-style-type: none;
    vertical-align: top; }
    .dp-menu-area .dp-menu ul {
      display: inline;
      padding-left: 0; }
    .dp-menu-area .dp-menu li {
      line-height: 3em;
      cursor: pointer; }
      .dp-menu-area .dp-menu li div {
        display: inline-block;
        width: 90%;
        padding-left: 16px; }

.dp-wizard-menu {
  padding: 4px 5px 12px 4px; }
  .dp-wizard-menu .dp-wizard-step {
    float: left;
    padding: 5px 12px;
    color: #9d9d9d;
    margin-left: 12px;
    border-bottom: 3px solid;
    background-color: #222; }
    .dp-wizard-menu .dp-wizard-step:first-child {
      margin-left: 0px; }
    .dp-wizard-menu .dp-wizard-step:hover {
      color: #eee;
      cursor: pointer;
      background-color: #6a6a6a; }
    .dp-wizard-menu .dp-wizard-step.active {
      font-weight: bold;
      border-bottom-color: #28cfed; }

.dp-view {
  margin-left: 200px;
  padding: 20px;
  color: #eee;
  border: solid 1px #101010;
  background-color: #222;
  min-height: 89vh;
  overflow: auto;
  position: relative; }

footer.page-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  color: #eee;
  height: 5vh;
  background-color: #222; }
  footer.page-footer span {
    float: right;
    padding: 4px 1em;
    display: inline-block; }

.wizard-footer {
  position: absolute;
  padding-top: 20px;
  bottom: 20px;
  right: 25px; }
  .wizard-footer .footer-btns {
    float: right;
    padding: 10px 0; }
    .wizard-footer .footer-btns .btn {
      margin-left: 5px; }

.panel-default > .panel-heading {
  background-color: #444;
  border-color: #444;
  color: #eee; }

.panel-default .panel-body {
  background-color: #9d9d9d;
  border-color: #9d9d9d;
  color: #222; }

